@{
	ViewData["Title"] = "Contacts";
}
<div style="margin-top: 0%; margin-bottom: 5%;">
	<div class="container">
		<div class="row ">
			<div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
				<div>
					<iframe src="https://maps.google.com/maps?q=%D0%BC%D0%B0%D1%80%D1%81%D0%B5%D1%80%D0%B2%D0%B8%D0%B7&t=&z=17&ie=UTF8&iwloc=&output=embed"
							width="1100" height="300" style="border: 0;" allowfullscreen="" loading="lazy">
					</iframe>
				</div>
				<div class="col-md-4 offset-md-4">
					<div>
						<div>
							<h4 class="text-center text-primary"> Address </h4>
							<p class="text-center">Bul. "Knyaz Aleksandyr Batenberg" 69, Kazanlyk</p>
							<h4 class="text-center text-primary">Phone number</h4>
							<p class="text-center">+359 88 8777 999</p>
						</div>
						<div>
							<h4 class="text-center text-primary">E-mail address</h4>
							<p class="text-center">office@nikolestate.com</p>
							<h4 class="text-center text-primary">Working time</h4>
							<p class="text-center">Monday-Friday: 10:00h. - 19:00h.</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
</div>